.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  overflow: hidden;

  &.lazy-child {
    filter: blur(10px);

    &.loaded {
      filter: blur(0);
    }
  }

  img {
    width: 100%;
    @supports (object-fit: cover) {
      object-fit: cover;
      object-position: center;
      height: 100%;
    }
  }
}

.BackgroundImage--parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
