$height: 15rem;

.InstagramFeed {
  text-align: center;
}

.InstagramFeed--row {
  height: $height;
  overflow: hidden;
}

.InstagramFeed--title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.8rem;
  color: $color-primary;

  i {
    font-size: 2em;
    vertical-align: middle;
  }
}

.InstagramFeed--item {
  height: $height;
  display: inline-block;
  img {
    height: 100%;
    width: auto;
    display: block;
  }
}
