
// Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$header-height: 100px;

.header-padding{
  height: 100px;
}
header{
  height: $header-height;
  padding: 15px 0;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  .header-wrap{
    height: 100%;
  }
  nav{
    ul{
      list-style: none;
      display: flex;
      align-items: stretch;
      margin:0;
      li{
        margin:0;
        a{
          padding: 15px;
        }
      }
    }
  }
}
#logo{
  height: 100%;
  text-align: left;
  img{
    height: 100%;
  }
}
