.instagram-banner{
  text-align: center;
  $height: 15rem;
  .row{
    height: $height;
    overflow: hidden;
  }
  .title{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    color: $color-primary;
    i{
      font-size: 2em;
      vertical-align: middle;
    }
  }
  .item{
    height: $height;
    display: inline-block;
  }
  img{
    height: 100%;
    width: auto;
    display: block;
  }
  @media (#{$bp-larger-than-phablet}) {
    margin-top: 5rem;
  }
}
